body{
    margin:auto 0;
    font-size:150%;
    background-color:#e9ecf2;

}

.jumbotron {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/d7/Sky.jpg");
  background-size: cover;
}
ul li {
    list-style-type: none;
}

#productTable{
    display:none;
}

table{
    border: 3px solid gray;
    border-radius:10px;
}

tbody{
    display: block;
    max-height: 500px;
    overflow-y: scroll;
}

td{
    border: 1px solid black
}

img{
    width:100px;
    height:100px;
}

.container{
    margin-bottom:15px;
}

.search{
    border: 1px solid gray;
    width: 450px;
    padding: 20px;
    border-radius:10px;
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #555;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  float:right;
  margin-top:10px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}